{% extends "main.html" %}
{% load charts %}

{% block body %}
{% if trend_stats %}
<h3>Available statistics</h3>
<ul>
{% for trend in trend_stats %}
<li>
  {% ifnotequal cur_stats.id trend.stats.id %}
  <a href="{% url tracker_list_stats_clicked trend.stats.id %}">{{ trend.trend }}</a>
  {% else %}
  {{ trend.trend }}
  {% endifnotequal %}
  <ul>
{% for tracker in trend.trackerstats.all %}
    <li>
    {% ifnotequal cur_stats.id tracker.stats.id %}
    <a href="{% url tracker_list_stats_clicked tracker.stats.id %}">{{ tracker.tracker }}</a>
    {% else %}
    {{ tracker.tracker }}
    {% endifnotequal %}
      <ul>
    {% for pack in tracker.packstats.all %}
        <li>
        {% ifnotequal cur_stats.id pack.stats.id %}
        <a href="{% url tracker_list_stats_clicked pack.stats.id %}">{{ pack.pack }}</a>
        {% else %}
        {{ pack.pack }}
        {% endifnotequal %}
          <ul>
      {% for channel in pack.channelstats.all %}
            <li>
            {% ifnotequal cur_stats.id channel.stats.id %}
            <a href="{% url tracker_list_stats_clicked channel.stats.id %}">{{ channel.channel }}</a>
            {% else %}
            {{ channel.channel }}
            {% endifnotequal %}
            </li>
      {% endfor %}
          </ul>
        </li>
    {% endfor %}
      </ul>
    </li>
{% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

{% if tracker %}
<h3>Statistics for tracker {{ tracker }}</h3>
<p>Tracked since: {{ tracker.startdate }}</p>
<p>Last tracked: {{ tracker.laststarted }}</p>
<p>Total run: {{ tracker.counter }}</p>
{% endif %}

{% if cur_stats %}
<h3>Statistics for {{ cur_stats }}</h3>
<p>Daily change: {{ cur_stats.daily_change }}</p>
<p>Total 24 hours: {{ cur_stats.total_24hours }}</p>
<p>Total 7 days: {{ cur_stats.total_7days }}</p>
<p>Daily average: {{ cur_stats.daily_average }}</p>
<p>Most active: {{ cur_stats.most_active_source }}</p>
{% endif %}

{% if dataset %}
<h3>Chart for {{ cur_stats }}</h3>
{% chart VerticalBarStack dataset  %}
    {% color 00cc00 %}
    {% marker 'N*' 'black' 0 -1 11 %}
    {% bar 30 5 %}
    {% axes type xy  %}
{% endchart %} 
{% endif %}

{% if latest %}
<h3>Latest mentions for {{ cur_stats }}</h3>
{% if tracker %}
<form action="" method="post"><input type="submit" value="+"/></form>
{% endif %}
  {% for obj in latest %}
    <p>{{ obj.date }} <a href="{{ obj.url }}">{{ obj.title }}</a></p>
  {% endfor %}
{% endif %}
{% endif %}
{% endblock %}

