{% extends "main.html" %}

{% block title %}{{request.muaccount}} : Whom & What{% endblock %} 
{% block body %}
{% if error %}
<p>{{ error }}</p>
{% endif %}
<div class="block"> 
    <div class="hd"><h2>Users to follow</h2></div>
    <div class="bd">
    <form action="" method="POST">
    <table>
    <tr><td width="50%" style="font-weight: bold">Twitter Username:</td><td><input type="text" name="nametxt"></td></tr>
    <tr><td colspan=2>OR</td></tr>
    <tr><td style="font-weight: bold">Users Twitter page:</td><td><input type="text" name="slugtxt"></td></tr>
    <tr><td colspan=2><input type="submit" value="Add"></td></tr>
    </table>
    </form>
    </div>
    <br />
</div>
<div class="block">
    <div class="hd"><h2>Terms or Keywords to track?</h2></div>
    <div class="bd">
    <form action="" method="POST">
    <table>
    <tr><td width="50%" style="font-weight: bold">Keyword/Phrase:</td><td><input type="text" name="termtxt"></td></tr>
    <tr><td colspan=2><input type="submit" value="Add"></td></tr>
    </table>
    </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="block">
    <div class="hd"><h2>The "Who's" List</h2></div>
    <div class="bd">
    {% for user in users %}
    <p><a href="{% url tweets_edit_source user.id %}">{{ user.name }}</a> <a href="{% url tweets_delete_source user.id %}">remove</a></p>
    {% endfor %}
    </div>
</div>
<div class="block">
    <div class="hd"><h2>The "What" List</h2></div>
    <div class="bd">
    {% for term in terms %}
    <p><a href="{% url tweets_edit_source term.id %}">{{ term.name }}</a> <a href="{% url tweets_delete_source term.id %}">remove</a></p>
    {% endfor %}
    </div>
</div>
{% endblock %}
